<header class="header">
   <div class="container-my">

      <div class="header__nav">
         <div class="row">
            <div class="col-lg-9">
               <a href="#">
               <img class="logo__interior"src="/assets/img/logo.svg" alt="logo">
               </a>
            </div>
            <div class="col-lg-1">
               <a class="nav__link" href="#">About us</a>
            </div>
            <div class="col-lg-1">
               <a class="nav__link" href="#">Projects</a>
            </div>
            <div class="col-lg-1">
               <a class="nav__link" href="#">Contacts</a> 
            </div>
         </div>
      </div>

      <div class="header__inner">
         <div class="header__title">
            Would you like to live in beautiful and quiet place?
         </div>
         <div class="header__text">
            You can choose house of your dream in our catalog. We are building houses more than 15 years. 
         </div>
         <a href="#" class="btn">Choose a house</a>
      </div>


   </div>
</header>
