<div class="intro-bg3">
   <div class="container-my">


      <div class="intro__block">
         <div class="row">
            <div class="col-lg-5">
               <div class="intro__title">Projects</div>
               <div class="intro__text">
                  <p>The reason clients of The Building Company remain our friends and satisfied customers, even after we complete their homes, is not because we try harder or work longer.
                  </p>
                  <p>It’s because we know more about the home building process than our competitors, and we have a planning process that eliminates or has contingency for any and all obstacles.
                  </p>
                  <p>Company remain our friends and satisfied customers, even after we complete their homes, is not because we try harder or work longer
                  </p>
               </div>
               <a class="btn" href="#">Download catalog</a>
         </div>
      

         <div class="col-lg-7">
            <div class="boston__img">
               <div class="boston__info">

                  <h2 class="boston__title">Boston</h2>
                  <div class="boston__size"> 450m <sup class="boston__sup" >2</sup> </div>
                  <div class="boston__icon"> <img class="icon__size" src="/assets/img/bathtub.png" alt="bathtub"> 3 bathrooms</div>
                  <div class="boston__icon2"> <img class="icon__size2" src="/assets/img/bed.png" alt="bad"> 3 bedrooms</div>
                  <a class="btn2" href="#">See more</a>
               </div>
            </div>
            
            </div>
         </div>
   </div>

      <div class="block-house">
         <div class="house-after">
            <div class="hose-grid">
               <div class="house__maiami">
                  <h2 class="house__title">Maiami</h2>
                  <p class="house__size">420m <sup>2</sup></p>
                  <div class="house__icon">
                     <img src="/assets/img/bathtub.png" alt=""><span class="house__span">2</span>
                  </div>

                  <div class="house__icon">
                     <img class="house__icon" src="/assets/img/bed.png" alt=""><span class="house__span">2</span>
                  </div>
                  <a class="btn2 btn_bottom" href="#">See more</a>

               </div>
               <div class="house__sietl">
                  <h2 class="house__title">Sietl</h2>
                  <p class="house__size">380m <sup>2</sup></p>
                  <div class="house__icon">
                     <img src="/assets/img/bathtub.png" alt=""><span class="house__span">2 bathrooms</span>
                  </div>
                  <div class="house__icon">
                     <img class="house__icon" src="/assets/img/bed.png" alt=""><span class="house__span">1 bedroom</span>
                  </div>
                  <a class="btn2 btn_bottom" href="#">See more</a>
               </div>
               <div class="house__orlando">
                  <h2 class="house__title">Orlando</h2>
                  <p class="house__size">520m <sup>2</sup></p>
                  <div class="house__icon">
                     <img src="/assets/img/bathtub.png" alt=""><span class="house__span">4</span>
                  </div>
                  <div class="house__icon">
                     <img class="house__icon" src="/assets/img/bed.png" alt=""><span class="house__span">3</span>
                  </div>
                  <a class="btn2 btn_bottom" href="#">See more</a>
               </div>
            </div>
         </div>
      </div>

   </div>  <!--Container -->

</div>