<div class="intro__bg2">
   <div class="container-my">
      <div class="section__block">
         <div class="section__title">About us</div>
         <div class="section__text section__text2"><p>The reason clients of The Building Company remain our friends and satisfied customers, even after we complete their homes, is not because we try harder or work longer.</p> 
         <p>It’s because we know more about the home building process than our competitors, and we have a planning process that eliminates or has contingency for any and all obstacles.</p></div>
         <div class="section__subtitle">How we are building</div>
         <div class="section__text"><p>Choose number on the picture on the right side and you will see more about our projects.</p></div>

         <div class="line"></div>
      </div>

      <div class="house">
         <img class="house_img" src="/assets/img/house.png" alt="house">
      </div>

   </div>
</div>
