

.boston__img {
   background: url(/assets/img/boston.png);
   background-repeat: no-repeat;
   max-width: 718px;
   height: 364px;
}

.boston__info {
   padding-left: 2rem;
   font-family: 'Montserrat Alternates', sans-serif;
   color: $white;
   
}

.boston__title {
   font-size: 6.9rem;
   font-weight: 700;
   margin: 0;
}

.boston__size {
   color: $shir;
   font-size: 3.6rem;
   font-weight: 700;
}

.boston__sup {
   font-size: 1.4rem;
}

.boston__icon {
   font-size: 1.7rem;
   color: $white;
}

.icon__size {
   width: 33px;
   height: 33px;

   margin-right: 1rem;
}

.boston__icon2 {
   font-size: 1.7rem;
   color: $white;
   padding: 1rem 0 1rem 0;
}

.icon__size2 {
   width: 33px;
   height: 33px;

   margin-right: 1rem;
}

.btn2 {
   display: inline-block;

   padding: 0.5rem 1.5rem;

   color: $white;
   font-size: 1.7rem;
   text-decoration: none;

   border: 1px solid $white;
   border-radius: 19px;
   margin-top: 5rem;

}