.boston__img {
}


.boston__pic {
   background-repeat:no-repeat;
   position: relative;

}

.boston__info {
   color: $white;
   font-family: 'Montserrat Alternates', sans-serif;
   
   bottom: 5rem;
   left: 4rem;
   position: absolute;

}

.boston__title {
   font-size: 6.9rem;
   font-weight: 700;
}

.boston__size {
   color: $shir;
   font-size: 3.6rem;
   font-weight: 400;
}

.boston__sup {
   font-size: 1.4rem;
}

.boston__icon {
   font-size: 1.7rem;
   color: $white;
}

.icon__size {
   width: 33px;
   height: 33px;
}

.boston__icon2 {
   font-size: 1.7rem;
   color: $white;
   padding: 1.5rem 0 3rem 0;
}

.icon__size2 {
   width: 33px;
   height: 33px;
}

.btn2 {
   display: inline-block;

   padding: 0.5rem 1.5rem;

   color: $white;
   font-size: 1.7rem;
   text-decoration: none;

   border: 1px solid $white;
   border-radius: 19px;

}