.btn {
   display: inline-block;

   font-size: 1.7rem;
   color: $black;
   font-weight: 400;
   font-family: 'Montserrat Alternates', sans-serif;
   text-decoration: none;


   margin-top: 12px;
   padding: 6px 20px;

   border-radius: 19px;
   background-color: #D8AD47;
   border: 1px solid #707070;
   box-shadow: 0 0 9px #D8AD47;
}