.header__inner {
   position: relative;
   color: $white;

   padding-top: 293px;
   max-width: 366px;
   margin-left: 74px;

}

.header__title {
   font-size: 2.6rem;
   color: $white;
   line-height:1.2 ;
   font-family: 'Montserrat Alternates', sans-serif;
}

.header__text {
   font-size: 1.6rem;
   font-weight: 400;
   color: $white;

   padding-top: 10px;
}