.house__maiami {
   padding-left: 20px;
}

.house__sietl {
   padding-left: 20px;
}

.house__orlando {
   padding-left: 20px;
}



.house__title {
   color: $white;
   font-size: 5.2rem;
   font-weight: 700;
   font-family: 'Poiret One', cursive;

   margin: 0;
}

.house__size {
   color: $shir;
   font-size: 3.1rem;
   font-weight: 700;
}

.house__2 {
   display: block;
}

.house__span {
   margin-left: 1.5rem;
}
