.section__block {
   color: $white;

   max-width: 441px;
   margin-left: 74px;
   padding-top: 32px;
}

.section__title {
   color: #D8AD47;
   font-size: 2.6rem;

}

.section__subtitle {
   font-size: 2.3rem;
   margin-top: 35px;
}

.section__text {
   font-size: 1.6rem;

}

.section__text2 {
   margin-top: 24px;
}

.line {
   content: "";
   background-color: $white;
   opacity: 0.5;
   width: 100%;
   height: 1px;
}