.wood {
   display: flex;
   margin-top: 2rem;
   align-items: center;
}

.wood__img {
   margin-left: 3rem;
   position: absolute;
}

.wood__text {
   max-width: 505px;
   
   color: $shir;
   font-size: 2.0rem;
   font-family: 'Poiret One', cursive;

   margin-left: 20rem;
}